Course Objectives App/** linguist-documentation=false
Course Objectives App/** linguist-vendored=false

Food-App/** linguist-documentation=false
Food-App/** linguist-vendored=false

Mini-Game-App/** linguist-documentation=false
Mini-Game-App/** linguist-vendored=false
